//- footer.png

footer.footer.layout-footer.bg-dark.text-light(data-aos="fade-up")
  .container
    p.mb-3
      img(src="images/logo-white.png")

    .row.mb-3.mb-md-4
      .col-12.col-md-6.col-lg-5.pt-md-3
        h3.mb-3.mb-lg-4.footer-title.fw-semibold Enjoy your journey with us

        p.d-flex.gap-4.gap-lg-5.fs-4
          a(href="https://www.instagram.com/tututravelltd/profilecard/?igsh=dTR2YmFpaThpZnk1" target="_blank")
            i.bi.bi-instagram
          a(href="https://www.facebook.com/share/1VPdfBopMV/?mibextid=LQQJ4d" target="_blank")
            i.bi.bi-facebook
          a(href="https://x.com/tutu_travel/" target="_blank")
            i.bi.bi-twitter
          a(href="https://ng.linkedin.com/company/tutu-travel-limited" target="_blank")
            i.bi.bi-linkedin
          a(href="https://youtube.com/@tututravelltd?si=rBanu2aibl2bQFLn" target="_blank")
            i.bi.bi-youtube

      .col-12.col-md-6.col-lg-5.offset-lg-2.d-none.d-md-block
        p Request a Call Back and Get Exclusive Holiday Deals!
        p
          a.btn.btn-primary.rounded-4.px-4(href="request.html") Book now

    .row.text-primary-200
      .col-12.col-md-6.col-lg-5
        p Corporate Office: #[br] 202 Golden Gate Building, Kayode Animashaun, #[br] Lekki Phase 1, Lagos, Nigeria
      .col-12.col-md-6.col-lg-5.offset-lg-2
        .d-flex.flex-column.flex-xl-row.justify-content-xl-between.gap-3
          div.d-flex.flex-column.flex-md-row.flex-xl-column.gap-md-3.gap-xl-0.order-md-2
            p.mb-1.fw-semibold.d-md-none CALL US
            p.mb-1 +234 9035119068
            p.mb-1 +234 9120223483
          div
            p.mb-1.fw-semibold.d-md-none SEND AN EMAIL
            p.mb-1
              i.bi.bi-envelope
              span.ms-2 Info@flywithtutu.com
            p.mb-1
              i.bi.bi-envelope
              span.ms-2 Helpdesk@flywithtutu.com

    hr.my-4.my-lg-5

    p.text-light-emphasis.text-center.text-md-end
      | &copy;Tutu Travel 2024, All Rights Reserved
