$color-primary: #2E3892 !default;
$color-primary-rgb: 46, 56, 146 !default;
$color-danger: #EF4B4A !default;
$color-danger-rgb: 239, 75, 74 !default;
$color-success: #60D669 !default;
$color-success-rgb: 94, 214, 105 !default;
$color-warning: #FBC000 !default;
$color-warning-rgb: 251, 192, 0 !default;
